<div class="header">
    <h1> Welp's Restaurants </h1>
</div>

<div class="restaurants">
    <% @restaurants.each do |r| %>
        <div class="row restaurant">
        <h3><%= link_to r.name, restaurant_path(r) %></h3>
        </div>
    <% end %>
</div>
